.logo{
   margin-left: 2rem;
    width: 12rem;
}
.nav-right{
    float: right;
    padding: 0 1rem;
}

.nav-btn{
   float: right;
}
.nav-dental-btn{
    margin-top: 2rem;
}
.nav-btn-1{
    color: #fe8100;

}
.text-center1{
    padding-top:1rem;
}
.banner{
    width:100%;
}
.banner-content{
  
    padding-top: 6.5rem;
    padding-left: 4rem;
    padding-bottom: 4rem    ;
    color:white;
}
.container2{
    background: url(./assets/Backgrounds/Banner.jpg);
    object-fit:scale-down;
    background-repeat:no-repeat;
    background-size: 100% 100%;
    
    position: relative;
    
    block-size: fit-content;

}

.banner-content p{
        font-size: 1.4rem  
}


.banner-2-img{
    width: 100%;
}
.banner-3{
    color: white;
    margin-top: 5rem;
    background: url(./assets/Backgrounds/Blue-BG-with-Blue-Circle@2x.png);
    background-size: 100% 100%;
    background-repeat:no-repeat;
    width: auto;
    height:auto;
    block-size: fit-content;
}
.banner-3-img{
    padding-left: 6rem;
}
.banner-3-content-2{
    padding-top: 15rem;
   
}
.underline{
    padding-top:1rem;
    padding-bottom: 3rem;
    width:7rem;
}
.banner-4{
    background-color: #ecf1f7;
    

}
.banner-4-1 span {
    color: #8b8b8b;
}
.banner-4-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.row-1{
    padding-left: 15rem;
}
.banner-4-1{
    
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
    
    background-color:white;
    width:24rem;
    height:18rem;
    margin:0.9rem;
    border-radius: 0.5rem;
}
.banner-5-content{
    margin: 10rem;
}
.banner-5-content h1{
    color: #1e69b6;
}
.banner-6{
    background-color: #ecf1f7;
}
.banner-6-content{
    padding-top: 9rem;
}
.banner-6-content h1{
    color: #1e69b6;
}
.banner-6-img{
    border-radius: 0.3rem;
    width: 10rem;
} 
.banner-7-content h1{
    color: #1e69b6;
}
.banner-7-content{
    padding-top: 4rem;
    padding-left: 6rem ;
}
.banner-7{
    padding-bottom: 5rem;
}
.banner-8{
    margin-top: 5rem;
    background: url(./assets/Backgrounds/map.png);
    background-size: 100% 100%;
    background-repeat:no-repeat;
    width: auto;
    height: 28.5rem;
}
.b{
    color: #1e69b6;
}
.banner-9-content{
    margin-top: 2rem;
    margin-left: 5rem;
}
.banner-9-1{
    box-shadow: 0 4px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);

    background-color:white;
    width: 80%;
    
    margin:0.9rem;
    border-radius: 0.5rem;
} 

.form-right{
    margin-top: 3.4rem;
}
.btn1{
    color: white;
    background-color: #fe8100;
}
.banner-9 input{
    background-color: #f2f2f2;
}
.banner-10{
    background-color: #ecf1f7;
}
.banner-10 h6{
    color: #1e69b6;
}
.banner-11{
        margin-top: 5rem;
        background: url(./assets/Backgrounds/Black-BG.png);
        background-size: 100% 100%;
        background-repeat:no-repeat;
        width: 100;
        height: 28.5rem;
        block-size: fit-content;
        
}
.banner-10-1{
    width:24rem;
    height:5remrem;
    margin:0.9rem;
}
.banner-11 h1{
    color: #fa8200;
    font-size: 4rem;
}
.banner-11 h6{
    color: white;
}
.banner-12 h6{
    color: black;
    font-weight: bold;
}
.banner-12{
    position: relative;
}
.banner-13{
  width: 75%;
  float: right;
  align-items: center;
  margin-right: 10rem;
  
}
.container3{
    display: none;
}
@media only screen and (max-width: 600px) {
    .container2 {
        background: url(./assets/Backgrounds/MBanner.jpg);
        
        background-repeat:no-repeat;
        background-size: 30rem;
        min-width: 3rem;
        position: relative;
        
        
        block-size: fit-content;
    }

    .banner-content{
        height: 405px;
       visibility: hidden;
    }
    .container3{
        display: block;
        padding: 2rem;
        
    }.banner-4-1{
        width: 90%;
    }
    .container h1{
         font-size:2rem;
    }
    .banner-3-content-2{
        margin: 3px;
        padding: 0; 
    }
    .banner-5-content{
        margin:5rem;
    }
    .banner-6-content{
        padding: 0;
    }
    .banner-7-content{
        padding: 3rem;
    }
    .banner-9-1{
        width: 95%;
    }
    .banner-8{
        padding: 0;
    }
    .banner-9-content{
        padding: 0;
        
    }
    .banner-9{
        width: 90%;
    }
    .row-1{
        padding: 0;
    }
  }

  @media screen and (max-width: 992px) {
    
    .banner-3-content-2{
        margin: 4rem;
        padding:0;
    }
    .row-1{
        padding: 3rem;
    }
    
  }
  